<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.autoee.dangerGoodsStockOut.mapper.DangerGoodsStockOutMapper">

    <resultMap type="DangerGoodsStockOut" id="DangerGoodsStockOutResult">
        <result property="id"    column="id"    />
        <result property="dangerGoodsStockInId"    column="danger_goods_stock_in_id"    />
        <result property="dangerGoodsStockInIdExtend"    column="danger_goods_stock_in_id_extend"    />
        <result property="dangerGoodsId"    column="danger_goods_id"    />
        <result property="dangerGoodsIdExtend"    column="danger_goods_id_extend"    />
        <result property="quantity"    column="quantity"    />
        <result property="reason"    column="reason"    />
        <result property="remark"    column="remark"    />
        <result property="userId"    column="user_id"    />
        <result property="userIdExtend"    column="user_id_extend"    />
        <result property="deptId"    column="dept_id"    />
        <result property="deptIdExtend"    column="dept_id_extend"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="delBy"    column="del_by"    />
        <result property="delTime"    column="del_time"    />
    </resultMap>

    <sql id="selectDangerGoodsStockOutVo">
        select
			t.id,
			t.danger_goods_stock_in_id,
	       (SELECT self_dict.id FROM  a_danger_goods_stock_in self_dict  where self_dict.id  = t.danger_goods_stock_in_id) as danger_goods_stock_in_id_extend,
			t.danger_goods_id,
	       (SELECT self_dict.danger_goods_name FROM  a_danger_goods_info self_dict  where self_dict.id  = t.danger_goods_id) as danger_goods_id_extend,
			t.quantity,
			t.reason,
			t.remark,
			t.user_id,
	       (SELECT self_dict.nick_name FROM  sys_user self_dict  where self_dict.user_id  = t.user_id) as user_id_extend,
			t.dept_id,
	       (SELECT self_dict.dept_name FROM  sys_dept self_dict  where self_dict.dept_id  = t.dept_id) as dept_id_extend,
			t.create_time,
			t.create_by,
			t.update_by,
			t.update_time,
			t.del_flag,
			t.del_by,
			t.del_time,
			1 as thelastcol
		from a_danger_goods_stock_out t
    </sql>

	<sql id="selectDangerGoodsStockOutDetailVo">
        select
            t.id,
			t.danger_goods_stock_in_id,
	       (SELECT self_dict.id FROM  a_danger_goods_stock_in self_dict  where self_dict.id  = t.danger_goods_stock_in_id) as danger_goods_stock_in_id_extend,
			t.danger_goods_id,
	       (SELECT self_dict.danger_goods_name FROM  a_danger_goods_info self_dict  where self_dict.id  = t.danger_goods_id) as danger_goods_id_extend,
            t.quantity,
            t.reason,
            t.remark,
			t.user_id,
	       (SELECT self_dict.nick_name FROM  sys_user self_dict  where self_dict.user_id  = t.user_id) as user_id_extend,
			t.dept_id,
	       (SELECT self_dict.dept_name FROM  sys_dept self_dict  where self_dict.dept_id  = t.dept_id) as dept_id_extend,
            t.create_time,
            t.create_by,
            t.update_by,
            t.update_time,
            t.del_flag,
            t.del_by,
            t.del_time,
			1 as thelastcol
		from	a_danger_goods_stock_out t
    </sql>

	    <select id="selectDataByPkDangerGoodsStockOut" parameterType="Long" resultMap="DangerGoodsStockOutResult">
        <include refid="selectDangerGoodsStockOutVo"/>
        where
			id = #{id}
    </select>



	<sql id="queryLikeWhereSql">
            <if test="id != null "> and id = #{id}</if>
            <if test="dangerGoodsStockInId != null "> and danger_goods_stock_in_id = #{dangerGoodsStockInId}</if>
			 <if test="params.dangerGoodsStockInIdInValueArr!= null ">
            	and danger_goods_stock_in_id in
                <foreach item="dangerGoodsStockInId" collection="params.dangerGoodsStockInIdInValueArr" open="(" separator="," close=")">
                    #{dangerGoodsStockInId}
                </foreach>
        	</if>
            <if test="dangerGoodsId != null "> and danger_goods_id = #{dangerGoodsId}</if>
			 <if test="params.dangerGoodsIdInValueArr!= null ">
            	and danger_goods_id in
                <foreach item="dangerGoodsId" collection="params.dangerGoodsIdInValueArr" open="(" separator="," close=")">
                    #{dangerGoodsId}
                </foreach>
        	</if>
            <if test="quantity != null "> and quantity = #{quantity} </if>
            <if test="params.beginQuantity != null and params.beginQuantity != ''"> and quantity &gt;= #{params.beginQuantity} </if>
            <if test="params.endQuantity != null and params.endQuantity != ''"> and quantity &lt;= #{params.endQuantity}</if>
            <if test="reason != null  and reason != ''"> and reason like concat('%', #{reason}, '%')</if>
            <if test="remark != null  and remark != ''"> and remark like concat('%', #{remark}, '%')</if>
            <if test="userId != null "> and user_id = #{userId}</if>
			 <if test="params.userIdInValueArr!= null ">
            	and user_id in
                <foreach item="userId" collection="params.userIdInValueArr" open="(" separator="," close=")">
                    #{userId}
                </foreach>
        	</if>
            <if test="deptId != null "> and dept_id = #{deptId}</if>
			 <if test="params.deptIdInValueArr!= null ">
            	and dept_id in
                <foreach item="deptId" collection="params.deptIdInValueArr" open="(" separator="," close=")">
                    #{deptId}
                </foreach>
        	</if>
            <if test="createTime != null "> and create_time = #{createTime} </if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != ''"> and create_time &gt;= #{params.beginCreateTime} </if>
            <if test="params.endCreateTime != null and params.endCreateTime != ''"> and create_time &lt;= #{params.endCreateTime}</if>
            <if test="createBy != null  and createBy != ''"> and create_by like concat('%', #{createBy}, '%')</if>
            <if test="updateBy != null  and updateBy != ''"> and update_by like concat('%', #{updateBy}, '%')</if>
            <if test="updateTime != null "> and update_time = #{updateTime} </if>
            <if test="params.beginUpdateTime != null and params.beginUpdateTime != ''"> and update_time &gt;= #{params.beginUpdateTime} </if>
            <if test="params.endUpdateTime != null and params.endUpdateTime != ''"> and update_time &lt;= #{params.endUpdateTime}</if>
            <if test="delFlag != null  and delFlag != ''"> and del_flag like concat('%', #{delFlag}, '%')</if>
            <if test="delBy != null  and delBy != ''"> and del_by like concat('%', #{delBy}, '%')</if>
            <if test="delTime != null "> and del_time = #{delTime} </if>
            <if test="params.beginDelTime != null and params.beginDelTime != ''"> and del_time &gt;= #{params.beginDelTime} </if>
            <if test="params.endDelTime != null and params.endDelTime != ''"> and del_time &lt;= #{params.endDelTime}</if>
			<if test="whereSql != null  and whereSql != ''"> ${whereSql}</if>
			<!-- 数据范围过滤 -->
			${params.dataScope}
    </sql>

    <select id="selectDataListByLikeDangerGoodsStockOut" parameterType="DangerGoodsStockOut" resultMap="DangerGoodsStockOutResult">
        <include refid="selectDangerGoodsStockOutVo"/>
        <where>
			<include refid="queryLikeWhereSql"/>

			<include refid="com.ruoyi.autoee.dangerGoodsStockOut.mapper.DangerGoodsStockOutMapperExtend.selectDataListByLikeExtendCondition"/> <!-- 引用 MapperExtend.xml 中的 SQL -->
        </where>

		<if test="orderByParamStr != null  and orderByParamStr != ''">  ${orderByParamStr} </if>
        <if test="orderByParamStr == null  or orderByParamStr == ''">  order by t.update_time desc, t.id desc </if>
        <if test="limitTopN != null and limitTopN != '' "> limit ${limitTopN}</if>
    </select>

	<select id="selectCountByLikeDangerGoodsStockOut" parameterType="DangerGoodsStockOut" resultType="int">
        select count(*) from a_danger_goods_stock_out t
        <where>
 			<include refid="queryLikeWhereSql"/>

			<include refid="com.ruoyi.autoee.dangerGoodsStockOut.mapper.DangerGoodsStockOutMapperExtend.selectCountByLikeExtendCondition"/> <!-- 引用 MapperExtend.xml 中的 SQL -->
        </where>
        <if test="limitTopN != null and limitTopN != '' "> limit ${limitTopN}</if>
    </select>

	<sql id="queryEqWhereSql">
            <if test="id != null "> and id = #{id}</if>
            <if test="dangerGoodsStockInId != null "> and danger_goods_stock_in_id = #{dangerGoodsStockInId}</if>
            <if test="dangerGoodsId != null "> and danger_goods_id = #{dangerGoodsId}</if>
            <if test="quantity != null "> and quantity = #{quantity}</if>
            <if test="reason != null  and reason != ''"> and reason = #{reason}</if>
            <if test="remark != null  and remark != ''"> and remark = #{remark}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="deptId != null "> and dept_id = #{deptId}</if>
            <if test="createTime != null "> and create_time = #{createTime}</if>
            <if test="createBy != null  and createBy != ''"> and create_by = #{createBy}</if>
            <if test="updateBy != null  and updateBy != ''"> and update_by = #{updateBy}</if>
            <if test="updateTime != null "> and update_time = #{updateTime}</if>
            <if test="delFlag != null  and delFlag != ''"> and del_flag = #{delFlag}</if>
            <if test="delBy != null  and delBy != ''"> and del_by = #{delBy}</if>
            <if test="delTime != null "> and del_time = #{delTime}</if>
			 <if test="params.beginCreateTime!= null and params.beginCreateTime != '' ">
            	and create_time &gt; #{params.beginCreateTime}
        	</if>
			 <if test="params.endCreateTime!= null and params.endCreateTime != '' ">
            	and create_time &lt; #{params.endCreateTime}
        	</if>
			 <if test="params.beginUpdateTime!= null and params.beginUpdateTime != '' ">
            	and update_time &gt; #{params.beginUpdateTime}
        	</if>
			 <if test="params.endUpdateTime!= null and params.endUpdateTime != '' ">
            	and update_time &lt; #{params.endUpdateTime}
        	</if>
			<if test="whereSql != null  and whereSql != ''"> ${whereSql}</if>
			<!-- 数据范围过滤 -->
			${params.dataScope}
    </sql>

    <select id="selectDataListByEqDangerGoodsStockOut" parameterType="DangerGoodsStockOut" resultMap="DangerGoodsStockOutResult">
        <include refid="selectDangerGoodsStockOutVo"/>
        <where>
			<include refid="queryEqWhereSql"/>
        </where>

		<if test="orderByParamStr != null  and orderByParamStr != ''">  ${orderByParamStr} </if>
        <if test="orderByParamStr == null  or orderByParamStr == ''"> order by t.update_time desc, t.id desc </if>
        <if test="limitTopN != null and limitTopN != '' "> limit ${limitTopN}</if>
    </select>

    <select id="selectCountByEqDangerGoodsStockOut" parameterType="DangerGoodsStockOut" resultType="int">
        select count(*) from a_danger_goods_stock_out t
        <where>
			<include refid="queryEqWhereSql"/>
        </where>
    </select>

	<select id="selectDetailByPkDangerGoodsStockOut" parameterType="Long" resultMap="DangerGoodsStockOutResult">
        <include refid="selectDangerGoodsStockOutDetailVo"/>
        where
			t.id = #{id}
    </select>

    <select id="selectDetailListByLikeDangerGoodsStockOut" parameterType="DangerGoodsStockOut" resultMap="DangerGoodsStockOutResult">
        <include refid="selectDangerGoodsStockOutDetailVo"/>
        <where>
			<include refid="queryLikeWhereSql"/>
			<include refid="com.ruoyi.autoee.dangerGoodsStockOut.mapper.DangerGoodsStockOutMapperExtend.selectDetailListByLikeExtendCondition"/> <!-- 引用 MapperExtend.xml 中的 SQL -->
        </where>

		<if test="orderByParamStr != null  and orderByParamStr != ''">  ${orderByParamStr} </if>
        <if test="orderByParamStr == null  or orderByParamStr == ''">  order by t.update_time desc, t.id desc </if>
        <if test="limitTopN != null and limitTopN != '' "> limit ${limitTopN}</if>
    </select>

    <select id="selectDetailListByEqDangerGoodsStockOut" parameterType="DangerGoodsStockOut" resultMap="DangerGoodsStockOutResult">
        <include refid="selectDangerGoodsStockOutDetailVo"/>
        <where>
			<include refid="queryEqWhereSql"/>
        </where>

		<if test="orderByParamStr != null  and orderByParamStr != ''">  ${orderByParamStr} </if>
        <if test="orderByParamStr == null  or orderByParamStr == ''">  order by t.update_time desc, t.id desc </if>
        <if test="limitTopN != null and limitTopN != '' "> limit ${limitTopN}</if>
    </select>


    <insert id="insertDangerGoodsStockOut" parameterType="DangerGoodsStockOut" useGeneratedKeys="true" keyProperty="id">
        insert into a_danger_goods_stock_out
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="dangerGoodsStockInId != null">danger_goods_stock_in_id,</if>
            <if test="dangerGoodsId != null">danger_goods_id,</if>
            <if test="quantity != null">quantity,</if>
            <if test="reason != null">reason,</if>
            <if test="remark != null">remark,</if>
            <if test="userId != null">user_id,</if>
            <if test="deptId != null">dept_id,</if>
            create_time,
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            update_time,
            <if test="delFlag != null">del_flag,</if>
            <if test="delBy != null">del_by,</if>
            <if test="delTime != null">del_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="dangerGoodsStockInId != null">#{dangerGoodsStockInId},</if>
            <if test="dangerGoodsId != null">#{dangerGoodsId},</if>
            <if test="quantity != null">#{quantity},</if>
            <if test="reason != null">#{reason},</if>
            <if test="remark != null">#{remark},</if>
            <if test="userId != null">#{userId},</if>
            <if test="deptId != null">#{deptId},</if>
			<if test="createTime != null">#{createTime},</if>
            <if test="createTime == null">sysdate(),</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
			<if test="createTime != null">#{createTime},</if>
            <if test="createTime == null">sysdate(),</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="delBy != null">#{delBy},</if>
            <if test="delTime != null">#{delTime},</if>
         </trim>
    </insert>

	<!-- 批量插入修改 - 通过多个字段组成联合唯一索引 -->
    <insert id="batchInsertOrUpdateByDangerGoodsStockOut">
        INSERT INTO a_danger_goods_stock_out
        <trim prefix="(" suffix=")" suffixOverrides=",">
            danger_goods_stock_in_id,
            danger_goods_id,
            quantity,
            reason,
            remark,
            user_id,
            dept_id,
            create_time,
            create_by,
            update_by,
            update_time,
            del_flag,
            del_by,
            del_time,
         </trim>
        VALUES
        <foreach collection="list" item="item" separator=",">
			<trim prefix="(" suffix=")" suffixOverrides=",">
			#{item.dangerGoodsStockInId},
			#{item.dangerGoodsId},
			#{item.quantity},
			#{item.reason},
			#{item.remark},
			#{item.userId},
			#{item.deptId},
			#{item.createTime},
			#{item.createBy},
			#{item.updateBy},
			#{item.updateTime},
			'0',
			#{item.delBy},
			#{item.delTime},
			</trim>
        </foreach>
        ON DUPLICATE KEY UPDATE
			update_time=VALUES(update_time),
			update_by=VALUES(update_by),
  		<trim   suffixOverrides=",">
       		danger_goods_stock_in_id = VALUES(danger_goods_stock_in_id),
       		danger_goods_id = VALUES(danger_goods_id),
       		quantity = VALUES(quantity),
       		reason = VALUES(reason),
       		user_id = VALUES(user_id),
       		dept_id = VALUES(dept_id),
  		</trim>
    </insert>

    <update id="updateNullValueByDangerGoodsStockOut" parameterType="DangerGoodsStockOut">
        update a_danger_goods_stock_out
        <trim prefix="SET" suffixOverrides=",">
			<!-- 如果可修改字段类型为Date、Integer、BigDecimal、Long，前端可以清空输入变为null，数据库需要对应回写为null -->
            danger_goods_stock_in_id = #{dangerGoodsStockInId},
			<!-- 如果可修改字段类型为Date、Integer、BigDecimal、Long，前端可以清空输入变为null，数据库需要对应回写为null -->
            danger_goods_id = #{dangerGoodsId},
			<!-- 如果可修改字段类型为Date、Integer、BigDecimal、Long，前端可以清空输入变为null，数据库需要对应回写为null -->
            quantity = #{quantity},
            <if test="reason != null">reason = #{reason},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
			update_time = sysdate(),
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="delBy != null">del_by = #{delBy},</if>
            <if test="delTime != null">del_time = #{delTime},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="updateNotNullValueByDangerGoodsStockOut" parameterType="DangerGoodsStockOut">
        update a_danger_goods_stock_out
        <trim prefix="SET" suffixOverrides=",">
            <if test="dangerGoodsStockInId != null">danger_goods_stock_in_id = #{dangerGoodsStockInId},</if>
            <if test="dangerGoodsId != null">danger_goods_id = #{dangerGoodsId},</if>
            <if test="quantity != null">quantity = #{quantity},</if>
            <if test="reason != null">reason = #{reason},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
			update_time = sysdate(),
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="delBy != null">del_by = #{delBy},</if>
            <if test="delTime != null">del_time = #{delTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDangerGoodsStockOutById" parameterType="DangerGoodsStockOut">
		delete from a_danger_goods_stock_out where id = #{id}
    </delete>

    <delete id="deleteDangerGoodsStockOutByIds" parameterType="DangerGoodsStockOut">
        delete from a_danger_goods_stock_out where id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteDangerGoodsStockOutByEqDangerGoodsStockOut" parameterType="DangerGoodsStockOut">
        delete from a_danger_goods_stock_out
		<where>
			<include refid="queryEqWhereSql"/>
        </where>
    </delete>

    <delete id="deleteDangerGoodsStockOutAllData">
        delete from a_danger_goods_stock_out
    </delete>


</mapper>
