<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.autoee.patrolTask.mapper.PatrolTaskMapper">

    <resultMap type="PatrolTask" id="PatrolTaskResult">
        <result property="id"    column="id"    />
        <result property="patrolTaskName"    column="patrol_task_name"    />
        <result property="patrolPlanId"    column="patrol_plan_id"    />
        <result property="patrolPlanIdExtend"    column="patrol_plan_id_extend"    />
        <result property="patrolPathId"    column="patrol_path_id"    />
        <result property="patrolPathIdExtend"    column="patrol_path_id_extend"    />
        <result property="patrolUserId"    column="patrol_user_id"    />
        <result property="patrolUserIdExtend"    column="patrol_user_id_extend"    />
        <result property="patrolDate"    column="patrol_date"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="patrolTaskStatus"    column="patrol_task_status"    />
        <result property="patrolTaskStatusExtend"    column="patrol_task_status_extend"    />
        <result property="remark"    column="remark"    />
        <result property="userId"    column="user_id"    />
        <result property="userIdExtend"    column="user_id_extend"    />
        <result property="deptId"    column="dept_id"    />
        <result property="deptIdExtend"    column="dept_id_extend"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="delBy"    column="del_by"    />
        <result property="delTime"    column="del_time"    />
    </resultMap>

    <sql id="selectPatrolTaskVo">
        select
			t.id,
			t.patrol_task_name,
			t.patrol_plan_id,
	       (SELECT self_dict.patrol_plan_name FROM  a_patrol_plan self_dict  where self_dict.id  = t.patrol_plan_id) as patrol_plan_id_extend,
			t.patrol_path_id,
	       (SELECT self_dict.route_name FROM  a_patrol_path self_dict  where self_dict.id  = t.patrol_path_id) as patrol_path_id_extend,
			t.patrol_user_id,
	       (SELECT self_dict.nick_name FROM  sys_user self_dict  where self_dict.user_id  = t.patrol_user_id) as patrol_user_id_extend,
			t.patrol_date,
			t.start_time,
			t.end_time,
			t.patrol_task_status,
           (SELECT dict_data.dict_label FROM  sys_dict_data dict_data  where dict_data.dict_type='patrol_task_status' and dict_data.dict_value = patrol_task_status) as patrol_task_status_extend,
			t.remark,
			t.user_id,
	       (SELECT self_dict.nick_name FROM  sys_user self_dict  where self_dict.user_id  = t.user_id) as user_id_extend,
			t.dept_id,
	       (SELECT self_dict.dept_name FROM  sys_dept self_dict  where self_dict.dept_id  = t.dept_id) as dept_id_extend,
			t.create_by,
			t.create_time,
			t.update_by,
			t.update_time,
			t.del_flag,
			t.del_by,
			t.del_time,
			1 as thelastcol
		from a_patrol_task t
    </sql>

	<sql id="selectPatrolTaskDetailVo">
        select
            t.id,
            t.patrol_task_name,
			t.patrol_plan_id,
	       (SELECT self_dict.patrol_plan_name FROM  a_patrol_plan self_dict  where self_dict.id  = t.patrol_plan_id) as patrol_plan_id_extend,
			t.patrol_path_id,
	       (SELECT self_dict.route_name FROM  a_patrol_path self_dict  where self_dict.id  = t.patrol_path_id) as patrol_path_id_extend,
			t.patrol_user_id,
	       (SELECT self_dict.nick_name FROM  sys_user self_dict  where self_dict.user_id  = t.patrol_user_id) as patrol_user_id_extend,
            t.patrol_date,
            t.start_time,
            t.end_time,
			t.patrol_task_status,
           (SELECT dict_data.dict_label FROM  sys_dict_data dict_data  where dict_data.dict_type='patrol_task_status' and dict_data.dict_value = patrol_task_status) as patrol_task_status_extend,
            t.remark,
			t.user_id,
	       (SELECT self_dict.nick_name FROM  sys_user self_dict  where self_dict.user_id  = t.user_id) as user_id_extend,
			t.dept_id,
	       (SELECT self_dict.dept_name FROM  sys_dept self_dict  where self_dict.dept_id  = t.dept_id) as dept_id_extend,
            t.create_by,
            t.create_time,
            t.update_by,
            t.update_time,
            t.del_flag,
            t.del_by,
            t.del_time,
			1 as thelastcol
		from	a_patrol_task t
    </sql>

	    <select id="selectDataByPkPatrolTask" parameterType="Long" resultMap="PatrolTaskResult">
        <include refid="selectPatrolTaskVo"/>
        where
			id = #{id}
    </select>



	<sql id="queryLikeWhereSql">
            <if test="id != null "> and id = #{id} </if>
            <if test="params.beginId != null and params.beginId != ''"> and id &gt;= #{params.beginId} </if>
            <if test="params.endId != null and params.endId != ''"> and id &lt;= #{params.endId}</if>
            <if test="patrolTaskName != null  and patrolTaskName != ''"> and patrol_task_name like concat('%', #{patrolTaskName}, '%')</if>
            <if test="patrolPlanId != null "> and patrol_plan_id = #{patrolPlanId}</if>
			 <if test="params.patrolPlanIdInValueArr!= null ">
            	and patrol_plan_id in
                <foreach item="patrolPlanId" collection="params.patrolPlanIdInValueArr" open="(" separator="," close=")">
                    #{patrolPlanId}
                </foreach>
        	</if>
            <if test="patrolPathId != null "> and patrol_path_id = #{patrolPathId}</if>
			 <if test="params.patrolPathIdInValueArr!= null ">
            	and patrol_path_id in
                <foreach item="patrolPathId" collection="params.patrolPathIdInValueArr" open="(" separator="," close=")">
                    #{patrolPathId}
                </foreach>
        	</if>
            <if test="patrolUserId != null "> and patrol_user_id = #{patrolUserId}</if>
			 <if test="params.patrolUserIdInValueArr!= null ">
            	and patrol_user_id in
                <foreach item="patrolUserId" collection="params.patrolUserIdInValueArr" open="(" separator="," close=")">
                    #{patrolUserId}
                </foreach>
        	</if>
            <if test="patrolDate != null "> and DATE(patrol_date) = DATE(#{patrolDate}) </if>
            <if test="params.beginPatrolDate != null and params.beginPatrolDate != ''"> and patrol_date &gt;= #{params.beginPatrolDate} </if>
            <if test="params.endPatrolDate != null and params.endPatrolDate != ''"> and patrol_date &lt;= #{params.endPatrolDate}</if>
            <if test="startTime != null "> and start_time = #{startTime} </if>
            <if test="params.beginStartTime != null and params.beginStartTime != ''"> and start_time &gt;= #{params.beginStartTime} </if>
            <if test="params.endStartTime != null and params.endStartTime != ''"> and start_time &lt;= #{params.endStartTime}</if>
            <if test="endTime != null "> and end_time = #{endTime} </if>
            <if test="params.beginEndTime != null and params.beginEndTime != ''"> and end_time &gt;= #{params.beginEndTime} </if>
            <if test="params.endEndTime != null and params.endEndTime != ''"> and end_time &lt;= #{params.endEndTime}</if>
            <if test="patrolTaskStatus != null  and patrolTaskStatus != ''"> and patrol_task_status = #{patrolTaskStatus}</if>
			 <if test="params.patrolTaskStatusInValueArr!= null ">
            	and patrol_task_status in
                <foreach item="patrolTaskStatus" collection="params.patrolTaskStatusInValueArr" open="(" separator="," close=")">
                    #{patrolTaskStatus}
                </foreach>
        	</if>
            <if test="remark != null  and remark != ''"> and remark like concat('%', #{remark}, '%')</if>
            <if test="userId != null "> and user_id = #{userId}</if>
			 <if test="params.userIdInValueArr!= null ">
            	and user_id in
                <foreach item="userId" collection="params.userIdInValueArr" open="(" separator="," close=")">
                    #{userId}
                </foreach>
        	</if>
            <if test="deptId != null "> and dept_id = #{deptId}</if>
			 <if test="params.deptIdInValueArr!= null ">
            	and dept_id in
                <foreach item="deptId" collection="params.deptIdInValueArr" open="(" separator="," close=")">
                    #{deptId}
                </foreach>
        	</if>
            <if test="createBy != null  and createBy != ''"> and create_by like concat('%', #{createBy}, '%')</if>
            <if test="createTime != null "> and create_time = #{createTime} </if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != ''"> and create_time &gt;= #{params.beginCreateTime} </if>
            <if test="params.endCreateTime != null and params.endCreateTime != ''"> and create_time &lt;= #{params.endCreateTime}</if>
            <if test="updateBy != null  and updateBy != ''"> and update_by like concat('%', #{updateBy}, '%')</if>
            <if test="updateTime != null "> and update_time = #{updateTime} </if>
            <if test="params.beginUpdateTime != null and params.beginUpdateTime != ''"> and update_time &gt;= #{params.beginUpdateTime} </if>
            <if test="params.endUpdateTime != null and params.endUpdateTime != ''"> and update_time &lt;= #{params.endUpdateTime}</if>
            <if test="delFlag != null  and delFlag != ''"> and del_flag like concat('%', #{delFlag}, '%')</if>
            <if test="delBy != null  and delBy != ''"> and del_by like concat('%', #{delBy}, '%')</if>
            <if test="delTime != null "> and del_time = #{delTime} </if>
            <if test="params.beginDelTime != null and params.beginDelTime != ''"> and del_time &gt;= #{params.beginDelTime} </if>
            <if test="params.endDelTime != null and params.endDelTime != ''"> and del_time &lt;= #{params.endDelTime}</if>
			<if test="whereSql != null  and whereSql != ''"> ${whereSql}</if>
			<!-- 数据范围过滤 -->
			${params.dataScope}
    </sql>

    <select id="selectDataListByLikePatrolTask" parameterType="PatrolTask" resultMap="PatrolTaskResult">
        <include refid="selectPatrolTaskVo"/>
        <where>
			<include refid="queryLikeWhereSql"/>

			<include refid="com.ruoyi.autoee.patrolTask.mapper.PatrolTaskMapperExtend.selectDataListByLikeExtendCondition"/> <!-- 引用 MapperExtend.xml 中的 SQL -->
        </where>

		<if test="orderByParamStr != null  and orderByParamStr != ''">  ${orderByParamStr} </if>
        <if test="orderByParamStr == null  or orderByParamStr == ''">  order by t.update_time desc, t.id desc </if>
        <if test="limitTopN != null and limitTopN != '' "> limit ${limitTopN}</if>
    </select>

	<select id="selectCountByLikePatrolTask" parameterType="PatrolTask" resultType="int">
        select count(*) from a_patrol_task t
        <where>
 			<include refid="queryLikeWhereSql"/>

			<include refid="com.ruoyi.autoee.patrolTask.mapper.PatrolTaskMapperExtend.selectCountByLikeExtendCondition"/> <!-- 引用 MapperExtend.xml 中的 SQL -->
        </where>
        <if test="limitTopN != null and limitTopN != '' "> limit ${limitTopN}</if>
    </select>

	<sql id="queryEqWhereSql">
            <if test="id != null "> and id = #{id}</if>
            <if test="patrolTaskName != null  and patrolTaskName != ''"> and patrol_task_name = #{patrolTaskName}</if>
            <if test="patrolPlanId != null "> and patrol_plan_id = #{patrolPlanId}</if>
            <if test="patrolPathId != null "> and patrol_path_id = #{patrolPathId}</if>
            <if test="patrolUserId != null "> and patrol_user_id = #{patrolUserId}</if>
            <if test="patrolDate != null "> and DATE(patrol_date) = DATE(#{patrolDate}) </if>
            <if test="startTime != null "> and start_time = #{startTime}</if>
            <if test="endTime != null "> and end_time = #{endTime}</if>
            <if test="patrolTaskStatus != null  and patrolTaskStatus != ''"> and patrol_task_status = #{patrolTaskStatus}</if>
            <if test="remark != null  and remark != ''"> and remark = #{remark}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="deptId != null "> and dept_id = #{deptId}</if>
            <if test="createBy != null  and createBy != ''"> and create_by = #{createBy}</if>
            <if test="createTime != null "> and create_time = #{createTime}</if>
            <if test="updateBy != null  and updateBy != ''"> and update_by = #{updateBy}</if>
            <if test="updateTime != null "> and update_time = #{updateTime}</if>
            <if test="delFlag != null  and delFlag != ''"> and del_flag = #{delFlag}</if>
            <if test="delBy != null  and delBy != ''"> and del_by = #{delBy}</if>
            <if test="delTime != null "> and del_time = #{delTime}</if>
			 <if test="params.beginCreateTime!= null and params.beginCreateTime != '' ">
            	and create_time &gt; #{params.beginCreateTime}
        	</if>
			 <if test="params.endCreateTime!= null and params.endCreateTime != '' ">
            	and create_time &lt; #{params.endCreateTime}
        	</if>
			 <if test="params.beginUpdateTime!= null and params.beginUpdateTime != '' ">
            	and update_time &gt; #{params.beginUpdateTime}
        	</if>
			 <if test="params.endUpdateTime!= null and params.endUpdateTime != '' ">
            	and update_time &lt; #{params.endUpdateTime}
        	</if>
			<if test="whereSql != null  and whereSql != ''"> ${whereSql}</if>
			<!-- 数据范围过滤 -->
			${params.dataScope}
    </sql>

    <select id="selectDataListByEqPatrolTask" parameterType="PatrolTask" resultMap="PatrolTaskResult">
        <include refid="selectPatrolTaskVo"/>
        <where>
			<include refid="queryEqWhereSql"/>
        </where>

		<if test="orderByParamStr != null  and orderByParamStr != ''">  ${orderByParamStr} </if>
        <if test="orderByParamStr == null  or orderByParamStr == ''"> order by t.update_time desc, t.id desc </if>
        <if test="limitTopN != null and limitTopN != '' "> limit ${limitTopN}</if>
    </select>

    <select id="selectCountByEqPatrolTask" parameterType="PatrolTask" resultType="int">
        select count(*) from a_patrol_task t
        <where>
			<include refid="queryEqWhereSql"/>
        </where>
    </select>

	<select id="selectDetailByPkPatrolTask" parameterType="Long" resultMap="PatrolTaskResult">
        <include refid="selectPatrolTaskDetailVo"/>
        where
			t.id = #{id}
    </select>

    <select id="selectDetailListByLikePatrolTask" parameterType="PatrolTask" resultMap="PatrolTaskResult">
        <include refid="selectPatrolTaskDetailVo"/>
        <where>
			<include refid="queryLikeWhereSql"/>
			<include refid="com.ruoyi.autoee.patrolTask.mapper.PatrolTaskMapperExtend.selectDetailListByLikeExtendCondition"/> <!-- 引用 MapperExtend.xml 中的 SQL -->
        </where>

		<if test="orderByParamStr != null  and orderByParamStr != ''">  ${orderByParamStr} </if>
        <if test="orderByParamStr == null  or orderByParamStr == ''">  order by t.update_time desc, t.id desc </if>
        <if test="limitTopN != null and limitTopN != '' "> limit ${limitTopN}</if>
    </select>

    <select id="selectDetailListByEqPatrolTask" parameterType="PatrolTask" resultMap="PatrolTaskResult">
        <include refid="selectPatrolTaskDetailVo"/>
        <where>
			<include refid="queryEqWhereSql"/>
        </where>

		<if test="orderByParamStr != null  and orderByParamStr != ''">  ${orderByParamStr} </if>
        <if test="orderByParamStr == null  or orderByParamStr == ''">  order by t.update_time desc, t.id desc </if>
        <if test="limitTopN != null and limitTopN != '' "> limit ${limitTopN}</if>
    </select>


    <insert id="insertPatrolTask" parameterType="PatrolTask" useGeneratedKeys="true" keyProperty="id">
        insert into a_patrol_task
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="patrolTaskName != null and patrolTaskName != ''">patrol_task_name,</if>
            <if test="patrolPlanId != null">patrol_plan_id,</if>
            <if test="patrolPathId != null">patrol_path_id,</if>
            <if test="patrolUserId != null">patrol_user_id,</if>
            <if test="patrolDate != null">patrol_date,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="patrolTaskStatus != null and patrolTaskStatus != ''">patrol_task_status,</if>
            <if test="remark != null">remark,</if>
            <if test="userId != null">user_id,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="createBy != null">create_by,</if>
            create_time,
            <if test="updateBy != null">update_by,</if>
            update_time,
            <if test="delFlag != null">del_flag,</if>
            <if test="delBy != null">del_by,</if>
            <if test="delTime != null">del_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="patrolTaskName != null and patrolTaskName != ''">#{patrolTaskName},</if>
            <if test="patrolPlanId != null">#{patrolPlanId},</if>
            <if test="patrolPathId != null">#{patrolPathId},</if>
            <if test="patrolUserId != null">#{patrolUserId},</if>
            <if test="patrolDate != null">#{patrolDate},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="patrolTaskStatus != null and patrolTaskStatus != ''">#{patrolTaskStatus},</if>
            <if test="remark != null">#{remark},</if>
            <if test="userId != null">#{userId},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="createBy != null">#{createBy},</if>
			<if test="createTime != null">#{createTime},</if>
            <if test="createTime == null">sysdate(),</if>
            <if test="updateBy != null">#{updateBy},</if>
			<if test="createTime != null">#{createTime},</if>
            <if test="createTime == null">sysdate(),</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="delBy != null">#{delBy},</if>
            <if test="delTime != null">#{delTime},</if>
         </trim>
    </insert>

	<!-- 批量插入修改 - 通过多个字段组成联合唯一索引 -->
    <insert id="batchInsertOrUpdateByPatrolTask">
        INSERT INTO a_patrol_task
        <trim prefix="(" suffix=")" suffixOverrides=",">
            patrol_task_name,
            patrol_plan_id,
            patrol_path_id,
            patrol_user_id,
            patrol_date,
            start_time,
            end_time,
            patrol_task_status,
            remark,
            user_id,
            dept_id,
            create_by,
            create_time,
            update_by,
            update_time,
            del_flag,
            del_by,
            del_time,
         </trim>
        VALUES
        <foreach collection="list" item="item" separator=",">
			<trim prefix="(" suffix=")" suffixOverrides=",">
			#{item.patrolTaskName},
			#{item.patrolPlanId},
			#{item.patrolPathId},
			#{item.patrolUserId},
			#{item.patrolDate},
			#{item.startTime},
			#{item.endTime},
			#{item.patrolTaskStatus},
			#{item.remark},
			#{item.userId},
			#{item.deptId},
			#{item.createBy},
			#{item.createTime},
			#{item.updateBy},
			#{item.updateTime},
			'0',
			#{item.delBy},
			#{item.delTime},
			</trim>
        </foreach>
        ON DUPLICATE KEY UPDATE
			update_time=VALUES(update_time),
			update_by=VALUES(update_by),
  		<trim   suffixOverrides=",">
       		patrol_task_name = VALUES(patrol_task_name),
       		patrol_plan_id = VALUES(patrol_plan_id),
       		patrol_path_id = VALUES(patrol_path_id),
       		patrol_user_id = VALUES(patrol_user_id),
       		patrol_date = VALUES(patrol_date),
       		start_time = VALUES(start_time),
       		end_time = VALUES(end_time),
       		patrol_task_status = VALUES(patrol_task_status),
       		user_id = VALUES(user_id),
       		dept_id = VALUES(dept_id),
  		</trim>
    </insert>

    <update id="updateNullValueByPatrolTask" parameterType="PatrolTask">
        update a_patrol_task
        <trim prefix="SET" suffixOverrides=",">
            <if test="patrolTaskName != null and patrolTaskName != ''">patrol_task_name = #{patrolTaskName},</if>
			<!-- 如果可修改字段类型为Date、Integer、BigDecimal、Long，前端可以清空输入变为null，数据库需要对应回写为null -->
            patrol_plan_id = #{patrolPlanId},
			<!-- 如果可修改字段类型为Date、Integer、BigDecimal、Long，前端可以清空输入变为null，数据库需要对应回写为null -->
            patrol_path_id = #{patrolPathId},
			<!-- 如果可修改字段类型为Date、Integer、BigDecimal、Long，前端可以清空输入变为null，数据库需要对应回写为null -->
            patrol_user_id = #{patrolUserId},
			<!-- 如果可修改字段类型为Date、Integer、BigDecimal、Long，前端可以清空输入变为null，数据库需要对应回写为null -->
            patrol_date = #{patrolDate},
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="patrolTaskStatus != null and patrolTaskStatus != ''">patrol_task_status = #{patrolTaskStatus},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
			update_time = sysdate(),
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="delBy != null">del_by = #{delBy},</if>
            <if test="delTime != null">del_time = #{delTime},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="updateNotNullValueByPatrolTask" parameterType="PatrolTask">
        update a_patrol_task
        <trim prefix="SET" suffixOverrides=",">
            <if test="patrolTaskName != null and patrolTaskName != ''">patrol_task_name = #{patrolTaskName},</if>
            <if test="patrolPlanId != null">patrol_plan_id = #{patrolPlanId},</if>
            <if test="patrolPathId != null">patrol_path_id = #{patrolPathId},</if>
            <if test="patrolUserId != null">patrol_user_id = #{patrolUserId},</if>
            <if test="patrolDate != null">patrol_date = #{patrolDate},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="patrolTaskStatus != null and patrolTaskStatus != ''">patrol_task_status = #{patrolTaskStatus},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
			update_time = sysdate(),
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="delBy != null">del_by = #{delBy},</if>
            <if test="delTime != null">del_time = #{delTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePatrolTaskById" parameterType="PatrolTask">
		delete from a_patrol_task where id = #{id}
    </delete>

    <delete id="deletePatrolTaskByIds" parameterType="PatrolTask">
        delete from a_patrol_task where id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deletePatrolTaskByEqPatrolTask" parameterType="PatrolTask">
        delete from a_patrol_task
		<where>
			<include refid="queryEqWhereSql"/>
        </where>
    </delete>

    <delete id="deletePatrolTaskAllData">
        delete from a_patrol_task
    </delete>


</mapper>
