package ${packageName}.mapper;

import java.util.List;
import ${packageName}.${businessName}.domain.${ClassName};
#if($table.sub)
import ${packageName}.${businessName}.domain.${subClassName};
#end

/**
 * ${functionName}Mapper接口
 *
 * @author AutoEE亿达科技有限公司 版权所有 Spring全栈工程师
 *
 */
public interface ${ClassName}MapperExtend
{

}
